<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Page Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="bg-primary text-white">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/static/logo-h40.png" width="56" height="20" class="d-inline-block align-top my-1">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="container py-md-5">
    <h1 class="py-md-5">About Liqen</h1>

    <section>
      <h2>The team</h2>
      <p>These are the people who are working to make Liqen possible</p>

      <h3 class="h4">Rafael Heiber</h3>
      <p>Common Action Forum Director.</p>

      <h3 class="h4">Cristian Hernández</h3>
      <p>Data Scientist. Project leader.</p>

      <h3 class="h4">Maribel Mateos</h3>
      <p>Journalist. Communications coordinator.</p>

      <h3 class="h4">Carlos Saito</h3>
      <p>Data Scientist. Developer.</p>

      <h3 class="h4">Miguel Rubiales</h3>
      <p>Sociologist.</p>

      <h3 class="h4">Nandana Mihindukulasooriya</h3>
      <p>Computer Engineer.</p>

      <h3 class="h4">Esteban González</h3>
      <p>Computer Engineer.</p>

      <h3 class="h4">Carlos Badenes</h3>
      <p>Computer Engineer.</p>

      <h3 class="h4">Fernando Serena</h3>
      <p>Computer Engineer.</p>

      <h3 class="h4">Borja Peiró</h3>
      <p>Computer Engineer. Developer</p>
    </section>
    <hr>
    <div class="row">
      <section class="col-lg-7">
        <h2>History</h2>
        <p>The Liqen project was born in Madrid, in Medialab Prado, during the Visualizar 16 event.</p>
        <p>The aim of Liqen was to collect qualitative data from citizens crowdsourced using web and mobile apps aim to discover territorial controversies among cities in the world.</p>
        <p>From the original Liqen project, two projects emerged: the current Liqen and Octal, a game experience to scout cities around the world and collect light during the night.</p>
      </section>
    </div>
  </main>
  <footer class="container small pt-5">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a href="https://github.com/exacs/liqen-core">Github</a>
      </li>
      <li class="list-inline-item">
        <a href="https://exacs.gitbooks.io/liqen/content">Developers API</a>
      </li>
    </ul>
    <p>This project is promoted by <a href="http://commonactionforum.net">Common Action Forum</a> with the colaboration of the <a href="http://www.oeg-upm.net">Ontology Engineering Group of the UPM</a></p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
