<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Page Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">Liqen</a>
  </nav>
  <main class="container py-md-5">
    <div class="row">
      <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-7 offset-xl-0 py-3">
        <h1 class="h1"><mark>Subraya</mark> artículos.</h1>
        <h2>Da solución a las preguntas más relevantes.</h2>
        <p>Liqen es la herramienta que permite extraer datos de artículos con los que quedan respondidas las preguntas de mayor interés periodístico.</p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-1">
        <form class="py-3" method="post" action="/login">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña">
          </div>
          <button type="submit" class="btn btn-block btn-primary">Entrar</button>
          <p class="text-muted">
            <small>Estamos en fase alpha y solamente se puede acceder a Liqen por invitación.</small>
          </p>
        </form>
      </div>
    </div>
  </main>
  <footer class="container small pt-5">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a href="https://github.com/exacs/liqen-core">Github</a>
      </li>
      <li class="list-inline-item">
        <a href="https://exacs.github.io/liqen/content">API para desarrolladores</a>
      </li>
    </ul>
    <p class="text-muted">Proyecto promovido por <a href="http://commonactionforum.net">Common Action Forum</a> con la colaboración del <a href="http://www.oeg-upm.net">Ontology Engineering Group de la Universidad Politécnica de Madrid</a></p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
