.question {
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: #CCC 1px solid;
  border-bottom: #CCC 1px solid;
}

.figures {
    padding-top: 3em;
    padding-bottom: 3em;
    border-top: #CCC 1px solid;
    border-bottom: #CCC 1px solid;
}

.answer {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 42px;
}

.answer__icon {
  margin-left: -42px;
}

.answer__meta {
  margin-right: 1em;
}
